html {
  cursor: none;
}

#invertedcursor {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  top: var(--y, 0);
  left: var(--x, 0);
  transform: translate(-50%, -50%);
  z-index: 2;
  mix-blend-mode: difference;
  transition: transform .2s;
}
/* Define the typing animation */
body {
  background: #182028;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 9vmin;
  color: #8bf;
  text-align: left;
  font-family: Lato, sans-serif;
  font-weight: 700;
  margin: 1rem 0 1rem 2rem;
}

/* Typewriter effect 1 */
@keyframes typing {

  0.0000%,
  27.3488% {
    content: "";
  }

  1.1395%,
  26.2093% {
    content: "C";
  }

  2.2791%,
  25.0698% {
    content: "Cod";
  }

  3.4186%,
  23.9302% {
    content: "Code";
  }

  4.5581%,
  22.7907% {
    content: "CodeC";
  }

  5.6977%,
  21.6512% {
    content: "CodeCr";
  }

  6.8372%,
  20.5116% {
    content: "CodeCra";
  }

  7.9767%,
  19.3721% {
    content: "CodeCraf";
  }

  9.1163%,
  18.2326% {
    content: "CodeCraft";
  }

  10.2558%,
  17.0930% {
    content: "CodeCrafters";
  }

  30.7674%,
  51.2791% {
    content: "";
  }

  31.9070%,
  50.1395% {
    content: "C";
  }

  33.0465%,
  49.0000% {
    content: "Cod";
  }

  34.1860%,
  47.8605% {
    content: "Code";
  }

  35.3256%,
  46.7209% {
    content: "CodeC";
  }

  36.4651%,
  45.5814% {
    content: "CodeCr";
  }

  37.6047%,
  44.4419% {
    content: "CodeCra";
  }

  38.7442%,
  43.3023% {
    content: "CodeCraft";
  }

  39.8838%,
  42.1628% {
    content: "CodeCrafters";
  }

  54.6977%,
  75.2093% {
    content: "";
  }

  55.8372%,
  74.0698% {
    content: "C";
  }

  56.9767%,
  72.9302% {
    content: "Co";
  }

  58.1163%,
  71.7907% {
    content: "Cod";
  }

  59.2558%,
  70.6512% {
    content: "Code";
  }

  60.3953%,
  69.5116% {
    content: "CodeCr";
  }

  61.5349%,
  68.3721% {
    content: "CodeCra";
  }

  62.6744%,
  67.2326% {
    content: "CodeCraf";
  }

  63.8140%,
  66.0930% {
    content: "CodeCraft";
  }

  64.9535%,
  64.9535% {
    content: "CodeCrafters";
  }

  78.6279%,
  98.8605% {
    content: "";
  }

  79.7674%,
  97.7209% {
    content: "C";
  }

  80.9070%,
  96.5814% {
    content: "Co";
  }

  82.0465%,
  95.4419% {
    content: "Cod";
  }

  83.1860%,
  94.3023% {
    content: "Code";
  }

  84.3256%,
  93.1628% {
    content: "CodeC";
  }

  85.4651%,
  92.0233% {
    content: "CodeCr";
  }

  86.6047%,
  91.8837% {
    content: "CodeCra";
  }

  87.8140%,
  90.0930% {
    content: "CodeCraf";
  }

  88.9535%,
  89.9535% {
    content: "CodeCrafters";
  }
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 16s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }

  @keyframes sequencePopup {

    0%,
    100% {
      content: "CodeCrafters";
    }

    25% {
      content: "CodeCrafters";
    }

    50% {
      content: "CodeCrafters";
    }

    75% {
      content: "CodeCrafters";
    }
  }

  .typewriter::before {
    content: "CodeCrafters";
    animation: sequencePopup 12s linear infinite;
  }
}

/* Style the photo scroll container */
.photo-scroll {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

/* Style the photos */
.photo-scroll img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(8px);
}


nav {
  position: relative;
  min-width: 350px;
  min-height: 80px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 10px;
  padding: 0 15px;
  background: rgb(0, 10, 27);
  box-shadow:
    0 6.7px 5.3px rgba(0, 0, 0, 0.12),
    0 22.3px 17.9px rgba(0, 0, 0, 0.08),
    0 100px 80px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  color: #fff;
}

nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 20px;
}

nav ul li a i {
  color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  transition: opacity 100ms ease;

}

nav ul li a.active i {
  opacity: 1;
}

nav .tubelight {
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translateX(-50%);
  width: 45px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
  transition: left 400ms ease;
  z-index: 10;
}

nav .light-ray {
  position: absolute;
  left: -30%;
  top: 5px;
  width: 160%;
  height: 80px;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.3) -50%,
      rgba(255, 255, 255, 0) 90%);
  clip-path: polygon(5% 100%, 25% 0px, 75% 0px, 95% 100%);
  pointer-events: none;
}